<style>
      /** Footer **/
      footer {
      display: flex;
      justify-content: center;
      height: 50px;
      width: 100%;
      margin-top: 110px;
      position: relative;
      border-top: 2px solid #EBEBEB;

    }

    footer span {
      font-style: normal;
      color: #707070;
      font-size: 16px;
      margin-top: 12px;
    }
  }
  
  </style>
  
<footer class="footer">
    <footer>
        <span>Copyright 2020 Luby Software</span>
      </footer>
</footer>
