<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lottery</title>
  <link rel="stylesheet" href="css/style.css" />
  <style>
    * {
      font-family: Helvetica, sans-serif;
      font-style: italic;
      margin: auto;
      padding: 0;
      box-sizing: border-box;
    }
  </style>
</head>

<body>
  <div class="modal-container">
    <div class="modal-alert">
    </div>
  </div>
  <div class="container">

    @include('./partials/header')

    <div class="main-content">
      <div class="lottery-container">
        <div class="cart-container">
          <div class="cart-container-two">
            <div class="container-cart" data-js="numbersLottery">
            </div>
            <div class="value">
              <h2 class="value-cart">
                Recuperação de senha realizada para o e-mail <strong>({{email}})</strong>

                <p>Para continuar a recuperação de senha, utilize o token ({{token}}) ou clique no link abaixo.</p>

                <a href="{{link}}">Clique aqui!</a>

              </h2>
            </div>
          </div>

        </div>

      </div>
    </div>

    @include('./partials/footer')

  </div>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>